.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_user {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        display: flex;
        align-items: center;
        &_icon {
          width: 18px;
        }
      }
      &_cansel{
        display: inline-flex;
        padding: 12px 18px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        cursor: pointer;
        border: none;
        color: red;
        margin-right: 15px;
      }
      &_added {
        display: inline-flex;
        padding: 12px 18px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        background: #0e3f41;
        color: #fff;
        cursor: pointer;
        border: none; 
      }
}