.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &_teacher {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      display: flex;
      align-items: center;
  
      &_icon {
        width: 18px;
      }
    }
  
    &_cansel {
      display: inline-flex;
      padding: 12px 18px;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      cursor: pointer;
      border: none;
      color: red;
      margin-right: 15px;
    }
  
  }
  
  .filter {
    display: inline-flex;
    padding: 14px 18px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #EEE;
    background: var(--withe, #FFF);
    cursor: pointer;
  
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }